p {
    color: aliceblue;
}

.clickable:hover {
    background-color: rgba(121, 121, 121, 0.8) !important;
}

nav{
    background-color:#403c3ff1;
}

#toolBar{
    background-color: rgb(59, 59, 59, 0.8);
}

#workplace{
    background-color: #5a5a5a;
}

#toolBar li {
    background-color: rgba(95, 95, 95, 0.301);
}

.canvas-container{
    background-color: #202020;
    background-image: url("../res/canvBackDark.svg");

}

.textInput {
    background-color: rgba(110, 110, 110, 0);
    border: 1px solid rgba(185, 185, 185, 0.671);
    color: aliceblue;
}

.textInput::placeholder {
    color: rgb(196, 196, 196);
}

#options ul {
    color: #000000 !important;
}

h2{
    color: #ffffff !important;
}


#cursor{
    border-color: #ffffff;
}


svg{
    fill: rgb(199, 199, 199);
}