* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

hr {
    margin: 8px;
    margin-left: 5px;
    margin-right: 5px;
}

@media only screen and (max-width: 900px) {
    .onLarge {
        display: none !important;
    }
}

body{
    color: var(--text-primary);
    overflow: hidden;
}

p {
    font-size: larger;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: var(--effect-hover) !important;
}

#appBar {
    position: fixed;
    display: flex;
    width: 100%;
    height: 50px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.61);
    z-index: 3;
    font-weight: bolder;
    background-color: var(--background-3);
}

#appBar div{
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toolBarController {
    flex-basis: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainContainer {
    padding-top: 50px;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#toolsBar {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    -moz-box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.473);
    -webkit-box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.473);
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.473);
    z-index: 1;
    background-color: var(--background-2);
}

#toolsBar li {
    display: flex;
    height: 50px;
    width: 100%;
    aspect-ratio: 1 / 1;
    padding: 10px;
    align-items: center;
    margin-bottom: 1px;
    background-color: var(--background-3);
}

.icon{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    filter: invert(var(--icon-invert));
}

#workplace {
    flex: 1;
    position: relative;
    overflow: hidden;
    background-image: url("../res/back3.svg");
    background-color: var(--background-1);
}

#toolsBar ul {
    display: flex;
    flex-direction: column;
}

#toolsBar li p {
    margin-left: 20px;
}

.canvas-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    -moz-box-shadow: 1px 1px 20px #00000071;
    -webkit-box-shadow: 1px 1px 20px #00000071;
    box-shadow: 1px 1px 20px #00000071;
    background-color: var(--background-4);
    background-image: var(--canvas-background);
}

.canvas {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.textInput {
    display: inline-block;
    border-radius: 10px;
    height: 100%;
    outline-style: none;
    padding: 5px;
    margin-left: 10px;
    background-color: var(--background-4);
    border: 1px solid var(--divider);
    color: var(--text-primary);
}

.selected {
    -moz-box-shadow: inset 1px 0px 3px #000000;
    -webkit-box-shadow: inset 1px 0px 3px #000000;
    box-shadow: inset 1px 0px 3px #000000;
}

.cursor{
    position: absolute;
    border: 1px solid var(--text-primary);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: none;
}

#coordinates{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

svg{
    fill: var(--text-secondary);
}