p {
    color: rgb(51, 51, 51);
}

.clickable:hover {
    background-color: rgba(114, 114, 114, 0.8) !important;
}

nav{
    background-color:#c9c9c9f1;
}

#toolBar{
    background-color: rgba(201, 201, 201, 0.8);
}

#workplace{
    background-color: #c0c0c0;
}

#toolBar li {
    background-color: rgba(221, 221, 221, 0.301);
}

#canvasContainer{
    background-color: #f0f8ff;
    background-image: url("../res/canvBackLight.svg");

}

.textInput {
    background-color: rgba(233, 233, 233, 0);
    border: 1px solid rgba(138, 138, 138, 0.671);
    color: rgb(68, 68, 68);
}

.textInput::placeholder {
    color: rgb(88, 88, 88);
}

.layer {
    background-color: #d6d6d660;
}

.layerCard {
    background-color: aliceblue;
}

.layerCard h2 {
    color: #bdbdbd;
}

.cardNav {
    background-color: #c7c7c738;
}

.cardBody {
    background-color: aliceblue;
    color: #000000 !important;
}


#options ul {
    color: #000000 !important;
}



svg{
    fill: rgb(66, 66, 66);
}


